.block2{
    height: 46px;
    width: 1920px;
    border-bottom: 2px solid rgb(0,141,225);
}
.block2 .div1{
    float: left;
    margin-left: 370px;
    width: 176px;
    height: 46px;
    background: rgb(0,141,225);
}
.block2 .div1{
    font-family: 宋体, serif;
    font-size: 16px;
    color: white;
}
.block2 .div1 span{
    float: left;
    margin-top: 15px;
    margin-left: 35px;
}
.block2 .div1 div{
    float: left;
    transform: rotate(-90deg);
    margin-left: 20px;
    margin-top: 15px;
}
.block2 .div2{
    font-family: 微软雅黑, serif;
    font-size: 16px;
}
.block2 .div2 span{
    display: block;
    margin-left: 80px;
    float: left;
}